body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 10rem;
  background-color: #d3d3d3;
}
#about {
  padding-top: 10rem;
}
#project {
  background-color: lightgray;
  padding-top: 10rem;
}
#contact {
  background-color: #f3f4f5;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
